<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHQfQSrrk4u-SXqBMwOfTKX2fhDZ3Sm_o</string>
	<key>GCM_SENDER_ID</key>
	<string>884232248242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vedantmistry.AppFirebaseProject</string>
	<key>PROJECT_ID</key>
	<string>appfirebaseproject-ab44d</string>
	<key>STORAGE_BUCKET</key>
	<string>appfirebaseproject-ab44d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884232248242:ios:3703e48fdce42c80d922ab</string>
</dict>
</plist>